<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
<header>
    <h1>Demo Authent</h1>
</header>

<section>
    <p>Bienvenue dans la démo de mise en place de l'authentification.</p>
    <p>Le forum n'est accessible qu'aux utilisateurs inscrits, la page d'administration uniquement utilisateur ayant le rôle "ADMIN".</p>
</section>

<nav>
    <ul>
        <li><a th:href="@{/forum}">Forum</a></li>
        <li><a th:href="@{/admin}">Administration</a></li>
        <li><a th:href="@{/logout}">Se déconnecter</a></li>
    </ul>
</nav>

<footer>
    <p>&copy; 2024 Demo Authent</p>
</footer>
</body>

</html>
