<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">



	<filter>
		<filter-name>Choix du realm</filter-name>
		<filter-class>fr.insee.demo.multi.tenant.ChoixDuRealmFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Choix du realm</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>Keycloak Filter</filter-name>
		<filter-class>org.keycloak.adapters.servlet.KeycloakOIDCFilter</filter-class>
		<init-param>
			<param-name>keycloak.config.skipPattern</param-name>
			<param-value>^/choixRealm</param-value>
		</init-param>
		<init-param>
			<param-name>keycloak.config.resolver</param-name>
			<param-value>fr.insee.demo.multi.tenant.MyKeycloakConfigResolver</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Keycloak Filter</filter-name>
		<url-pattern>/keycloak/*</url-pattern>
		<url-pattern>/private/*</url-pattern>
	</filter-mapping>

	<security-constraint>
		<display-name>Tout en https</display-name>
		<web-resource-collection>
			<web-resource-name>tout</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

</web-app>