<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title>Insert title here</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
    <link rel="icon" href="icone.ico" type='image/x-icon' />
</head>

<body>
    <h1>Page privée</h1>

    <h2 th:if="${secure}">Connexion sécurisé par HTTPS</h2>
    <h2 th:unless="${secure}">Connexion en clair</h2>


    <h2>
        <span th:text="${typeAuthentification}">?</span>
    </h2>

    <a th:href="@{/logout}">Se déconnecter</a>

    <p>
        Vous êtes <span th:text="${nom}">?</span>
    </p>
    <p>
        mail : <span th:text="${mail}">?</span>
    </p>
    <p>
        Vos rôles : <span th:text="${roles}">?</span>
    </p>

    <p>
        <form th:action="@{/private}" method="POST">
        Un truc à faire: <input type="text"/>
        <br/>
        <input type="submit" value="C'est parti !!" />
        </form>
    </p>

    <p>
        La reponse du WS est :
        <span th:text="${reponseWS}">?</span>
    </p>

    <br />
    <hr />
    <a th:href="@{${urlAccount}}">Cliquez
        ici pour gérer votre compte sur keycloak</a>

</body>

</html>